<div class="card w-full max-w-md mx-auto">
  <div class="card-body gap-8">
    <h1 class="text-4xl">Change your password</h1>

    <%= form_with model: current_user, url: password_path, class: "gap-2 flex flex-col" do |form| %>
      <%= form_errors_for(form) %>

      <%= form.password_field :password_challenge, class: "input w-full", placeholder: "Current Password" %>

      <%= form.password_field :password, class: "input w-full", placeholder: "New Password" %>

      <%= form.password_field :password_confirmation, class: "input w-full", placeholder: "New Password Confirmation" %>

      <%= form.submit "Change Password", class: "btn btn-primary w-full" %>
    <% end %>
  </div>
</div>
