<div class="w-full py-4 px-2">
  <%= paginate @users %>
</div>

<table class="table">
  <!-- head -->
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <div class="flex items-center gap-2">
            <div class="avatar">
              <div class="w-12 h-12 mask mask-squircle">
                <%= image_tag user.avatar_url, alt: user.email %>
              </div>
            </div>
            <div>
              <div class="font-bold"><%= user.email %></div>
              <% if user.admin? %>
                <span class="badge badge-primary badge-sm"><%= user.role %></span>
              <% end %>
          </div>
        </td>
        <td>
          <div class="flex justify-end gap-2">
            <%# actions here %>
            <%= link_to "View", admin_user_path(user), class: "btn btn-sm btn-primary" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
